/*Seudolectores*/
:root{/*Custom properties*/
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --fuente-pricipal: 3.8rem;
}
html{
    font-size: 62.5%;
}
.header{
    text-align: center;
}
body{
    font-size: 16px;/*1rem=10px*/
    font-family: Architects Daughter;
}
.titulo{
    font-size: 4rem;
    font-family: luxurious script;
}
.titulo span{
    font-size:2rem;
    font-family: Baloo Bhaijaan;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navegacion-principal a{
    display:block;
    text-decoration: none;
    color: var(--oscuro);
    font-size: 2.5rem;
    font-weight: 70;
    color: var(--blanco);
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: #0D0;
}
/* .contenedor{} */
.nav-bg{
    background-color: yellowgreen;
    border-radius: 1.5rem;
}
/* @media(min-width:460px){
    body{
        background: #bbb;
    } 
}*/
@media(min-width: 720px){
    body{
        background: #ccc;
    }
    .navegacion-principal{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
/* @media(min-width:1140px){
    body{
        background: #ddd;
    }
}
@media(min-width:1400px){
    body{
        background: #aaa;
    }
} */